@page "/SingleComponent"
@using Blazor_PersianDatePickerZO.Component
@using Blazor_PersianDatePickerZO.Hellper



<div class="container">
    <div class="row">
        <h6 class="text-black float-end m-2"><span>میتوانید بسته به سلیقه و نیار خود از کامپوننت ها استفاده کنید و تقویم و ساعت خود را طراحی کنید</span></h6>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 col-sm-12 align-commponent">
            <TimeZO ThemePickerZO="ThemeDatePickerZO.darkgreen" />
        </div>
        <div class="col-md-3 col-sm-12 align-commponent">
            <DayZO ThemePickerZO="ThemeDatePickerZO.darkpurple" />
        </div>
        <div class="col-md-3 col-sm-12 align-commponent">
            <ClockZO ThemePickerZO="ThemeDatePickerZO.lightgray" />
        </div>
        <div class="col-md-3 col-sm-12 align-commponent">
            <YearMonth ThemePickerZO="ThemeDatePickerZO.darkorange" />
        </div>
    </div>
</div>











